#root {
  max-width: 47em;
  margin: 0 auto;
}

#full-name {
  margin-top: 0.2em;
}

#profile-pic {
  max-width: 11.125em;
}

.section {
  margin-top: 0.5em;
}

.section-title {
  margin: 0.7em auto;
}

.skills {
  overflow: hidden;
}

.skills > li {
  width: 33.333%;
  float: left;
  list-style-position: inside;
}

.project {
  display: flex;
  margin-top: 1em;
}

.project-image {
  margin-right: 1em;
}

.project-image img {
  max-width: 10.5em;
}

.project-content {
  padding-top: 0.1em;
}

.social {
  margin-left: 11px;
}

a:hover {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

#contact {
  margin-bottom: 3.125em;
}

@media screen and (max-width: 45em) {
  #full-name {
    margin-top: 0.4em;
  }

  body {
    font-size: 93%;
  }

  .skills > li {
    width: 48%;
  }

  .project {
    display: block;
  }

  .project-image {
    display: block;
    width: 100%;
    text-align: center;
  }

  .project-content {
    display: block;
    margin-top: 1.25em;
    width: 100%;
    margin-left: 0;
  }

  .project-name {
    text-align: center;
  }
}

@media screen and (max-width: 60em) {
  #root {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
}

.banner {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.blog-article {
  padding-bottom: 20px;
}

.blog-title {
  font-size: 30px;
}

.blog-subtitle {
  font-size: 18px;
}

#main-blog-section {
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.blog-paragraph-title {
  font-size: 20px;
}

.blog-paragraph-title-smaller {
  font-size: 18px;
}

.blog-posts {
  list-style: none;
  margin: 0;
}

.article-date {
  font-size: 18px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  text-align: center;
}

code {
  white-space: nowrap !important;
}

.blog-nav {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.blog-article {
  color: #323232;
  max-width: 80%;
  margin: 0 auto;
}

.pre-multi-line-show {
  border: none !important;
  box-shadow: none !important;
}

.multi-line-show {
  white-space: pre-wrap !important;
  border: none !important;
  background-color: #fdf6e3 !important;
}
